.sl-header.intro-header.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='http://love-sl.ru')
        .sl-logo
    .navbar-text
      i.icon--call-center
      span.header--phone 8 800 775 22 22
    ul.nav.navbar-nav.navbar-right.hidden-sm.hidden-xs
      li.item.item-charms(aria-haspopup="false")
        a(href="http://love-sl.ru/catalog/?collection=5167", rel="nofollow") Шармы
      li.item.item-clock(aria-haspopup="false")
        a(href="http://love-sl.ru/catalog/clock/") Часы
      li.item.item-chance(aria-haspopup="false")
        a(href="http://love-sl.ru/catalog/hitprice.html") Хит цена
      li.item.item-actions(aria-haspopup="false")
        a(href="http://love-sl.ru/actions/") Акции
      li.item.item-shops(aria-haspopup="false")
        a(href="http://love-sl.ru/shops/locator.php") Магазины
    ul.nav.navbar-nav.navbar-right.hidden-xs
      li.item.item-catalog(aria-haspopup="false")
        a(href="http://love-sl.ru/catalog/") Каталог
      li.item.item-rings(aria-haspopup="false")
        a(href="http://love-sl.ru/catalog/category/rings/") Кольца
      li.item.item-earrings(aria-haspopup="false")
        a(href="http://love-sl.ru/catalog/category/earrings/") Серьги
      li.item.item-chains(aria-haspopup="false")
        a(href="http://love-sl.ru/catalog/?product_type=319", rel="nofollow") Цепи
    ul.nav.navbar-nav.navbar-right.visible-sm.hidden-xs
      li.item.item-charms(aria-haspopup="false")
        a(href="http://love-sl.ru/catalog/?collection=5167", rel="nofollow") Шармы
      li.item.item-clock(aria-haspopup="false")
        a(href="http://love-sl.ru/catalog/clock/") Часы
      li.item.item-chance(aria-haspopup="false")
        a(href="http://love-sl.ru/catalog/hitprice.html") Хит цена
      li.item.item-actions(aria-haspopup="false")
        a(href="http://love-sl.ru/actions/") Акции
      li.item.item-shops(aria-haspopup="false")
        a(href="http://love-sl.ru/shops/locator.php") Магазины
